*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    transition: 10s ease;
}
body{
    background-color: rgb(219, 233, 245);
}
nav{
    position: relative;
    background-color:#343a40;
}
.menubtn{
    position: absolute;
    background: white;
    background-image: url('icons/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 3px;
    padding-top: 2px;
    border-radius: 2px;
    display: none;
    z-index: 999;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    
}
.mynav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100px;
    margin-right: 10px;
    transition: 3s ease-in-out;
}
.mynav a{
    font-size: 22px;
    font-weight: 600;
    color: bisque;
    text-decoration: none;
}
.mynav ul{
    margin-left: auto;
    transition: 3s ease-in-out;
}
.mynav ul li{
    border-bottom: 2px solid transparent;
    margin-right: 10px;
    padding: 4px;
    font-size: 19px;
}
.mynav ul li a{
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: blue;
    padding: 8px;
}
.textess{
    display: none;
}
@media(min-width:650px){
    .mynav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 70px;
        margin-right: 10px;
    }
    .mynav a{
        font-size: 22px;
        font-weight: 600;
        color: bisque;
        text-decoration: none;
    }
    .mynav ul{
        margin-left: auto;
    }
    .mynav ul li{
        margin-right: 10px;
        padding: 4px;
        padding-bottom: 0;
        font-size: 19px;
    }
    .mynav ul li a{
        text-decoration: none;
        font-size: 19px;
        font-weight: 600;
        color: blue;
        padding: 8px;
    }
    
}
.mynav ul li:hover{
    border-bottom: 2px solid red;
    transition: 2s ease-out;
}
@media(max-width:650px){
    .mynav ul{
        position: absolute;
        display: none;
        top: 100px;
        z-index: 99;
        width: 70%;
        padding:10px;
    }
    .mynav ul li a{
        color: whitesmoke;
    }
    .menubtn{
        display: block;
    }
    .mynav ul.show{
        display: flex;
        background-color: #343a40;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        right: 0;
    
    }
    .menubtn.showcancel{
        background-image: url("icons/close.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    .textess{
        display: block;
    }
    
}

.myimage{
    position: relative;
}
.myimage img{
    width: 100%;
    height: 100%;
}
h5.card-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.btnchatbot{
    position: fixed;
    z-index: 200;
    bottom: 5px;
    right: 10px;
    background: rgb(0, 28, 184) !important;
    box-shadow: none !important;
    outline: none;
}
.chatcenter{
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 199;
    width: 260px;
    height: 360px;
    display: none;
}
.chatcenter .chatarea{
    min-height: 80%;
    max-height: 80%;
    background: aliceblue;
    overflow-y: auto;
}
.form-control{
    box-shadow: none !important;
    outline: none;
}
.hidechatcenter{
    display: block;
}
.chat{
    width: 130px;
    max-width: 130px;
    border-radius: 10px;
    padding: 4px;
    font-size: 11px;
    font-weight: 400;
}
.essbotmsg{
    background: #177fe0;
    color: whitesmoke;
    text-shadow: 1px 1px 1px 1px black;
    margin-bottom: 5px;
}
.messagecontainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.messagecontainer .usermsg{
    background: #e0dfdf;
    margin-bottom: 5px;
}
.btnsend{
    display: none;
}
.msgbox{
    text-transform: capitalize;
}