<div class="py-10 bg-[var(--card-color)]">
    <div class="max-w-4xl mx-auto px-6 text-center">
        <h2 class="text-2xl md:text-3xl font-bold mb-6  text-[var(--primary-color)]">
            Have a project in mind?
        </h2>
        <p class="text-lg opacity-90 mb-10 leading-relaxed">
            Whether you need a scalable <span class="font-semibold text-[var(--accent-color)]">Web Platform</span> 
            or a custom <span class="font-semibold text-[var(--accent-color)]">Desktop Application</span>, 
            I’m available for freelance opportunities and collaborations.
        </p>
        
        <div class="flex flex-col sm:flex-row justify-center gap-4">
            <a href="contacts.html" 
            class="bg-white text-[var(--primary-color)] px-8 py-4 rounded-xl font-bold hover:bg-opacity-90 transition shadow-lg">
                Let's Talk <i class="fas fa-paper-plane ml-2"></i>
            </a>
            <a href="https://github.com/erigichuri" target="_blank"
            class="border border-white/30 bg-white/10 backdrop-blur-sm px-8 py-4 rounded-xl font-bold hover:bg-white/20 transition">
                Check GitHub <i class="fab fa-github ml-2"></i>
            </a>
        </div>
    </div>
</div>