html{
	scroll-behavior: smooth;
	transition: all 1s ease-in-out;
}
body{
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;
	background-color: rgb(255,255,255);
}
ul{
	list-style: none;
}
.navbar{
	width: 100%;
	position: fixed;
	background-color: #14539a;
	background-color: #000088;
	left: 0;
	top: 0;
	z-index: 99;
	color: whitesmoke;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	height: 70px;
}
.navbar .logo_holder{
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: 550
	justify-content: center;
	padding-left: 15px;
	text-transform: capitalize;
}
.navbar .logo_holder{
	height: 100%;
	position: relative;
	width: 30%;
}
.navbar-in{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar .logo_holder{
	margin-right: auto;
}
.navbar .logo_holder label{
	font-size: 17px;
	font-family: 'Helvetica Rounded';
}
.navbar .navbar-in .menu_holder .menu_container > .menu_item{
	display: inline-block;
	margin-left: 10px;
	text-transform: capitalize;
	position: relative;
	width: 100px;
	text-align: center;
} 
.navbar-in .menu_holder .menu_container > .menu_item > a{
	color: #F0F0F0;
	text-decoration: none;
	transition: 0.3s ease;
	font-size: 14px;
	font-weight: 450;
	padding: 5px 0;
}
.menu_button{
	display: none;
	cursor: pointer;
}
@media screen and (max-width:750px){
	.menu_button{
		display: block;
	}
	.navbar .logo_holder{
		width: 100%;
		font-size: 16px;
	}
	.menu_holder{
		width: 250px;
		background-color: #000088;
		position: absolute;
		top: 70px;
		right: -250px;
		transition: 0.3s;
	}
	.menu_holder .menu_container{
		width: 100%;
	}
	.menu_holder .menu_container .menu_item{
		line-height: 40px;
	}
	.menu_holder.show{
		right: 0px;
	}
}
.intro_div{
	min-height: 100vh;
	width: 100%;
	position: relative;
	background-size: 70% 70%;
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #000088;
}
.intro_div .intro_div_info{
	background-color: rgba(255, 255, 255, 0.88);
	height: 100%;
	padding-top: 75px;
	padding-bottom: 20px;
	z-index: 2;
	padding-inline: 40px 20px;
}
.intro_div h4{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	font-family: 'helvetica';
	font-style: oblique;
	text-transform: capitalize;
	color: #000088;
}
.intro_div .intro_div_info p{
	font-size: 20px;
	font-weight: 450;
	font-family: times;
	text-align: center;
}
.intro_div .intro_div_info p.first_p{
	font-size: 20px !important;
	font-weight: 600;
}
@media screen and (max-width:750px){
	.intro_div .intro_div_info{
		padding-inline: 10px 10px;
	}
}
@media screen and (max-width:500px){
	.intro_div_info p{
		font-size: 14px !important;
	}
}
.connect_div a{
	text-decoration: none;
	color: #000088;
}
.education_div{
	min-height: 100vh;
	padding-block: 10px;
	padding-inline: 40px 20px;
	border-bottom: 1px solid #000088;
}
.education_div h4{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	font-family: 'helvetica';
	font-style: oblique;
	text-transform: capitalize;
	color: #000088;
}
.education_div .edu_main_div{
	display: grid;
	grid-template-columns: repeat(3, minmax(220px, 220px));
	gap: 10px;
	justify-content: center;
	align-items: center;
	place-items: center;
}
@media screen and (max-width:700px){
	.edu_main_div{
		grid-template-columns: repeat(2, minmax(220px, 220px)) !important;
	}
}
@media screen and (max-width:450px){
	.edu_main_div{
		grid-template-columns: repeat(1, minmax(220px, 220px)) !important;
	}
}
.education_div p{
	font-size: 13px;
}
.education_div ol li{
	font-size: 12px;
}
.education_div .edu_main_div .cards{
	background-color: #F0F0F0;
	text-align: center;
	padding: 10px 5px 10px 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	width: 100%;
}
.education_div .edu_main_div .cards i{
	font-size: 35px;
}
.education_div .edu_main_div .cards h6{
	font-size: 16px;
}
.education_div .edu_main_div .cards p{
	font-size: 13px;
}
.education_div .edu_main_div .cards label{
	width: 100%;
	font-size: 13px;
}
.education_div .career_path_div p{
	text-align: center;
}
.education_div .Cisco_items{
	display: grid;
	grid-template-columns: repeat(1, minmax(1fr, 200px));
	gap: 10px;
	font-size: 13px;
	justify-content: center;
	align-items: center;
}
.education_div .Cisco_items div{
	padding: 10px 5px 10px 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	background-color: #F0F0F0;
	background-color: whitesmoke;
	display: flex;
}
.btn-link{
	background-color: whitesmoke;
	height: 25px !important;
	font-size: 10px;
	min-width: 70px !important;
}
.education_div .Cisco_items a{
	text-decoration: none;
	color: #000088;
	margin-left: auto;
}
.career_path_div h5{
	font-size: 18px;
	font-weight: 650;
	text-align: center;
	font-family: 'helvetica';
	font-style: oblique;
	text-transform: capitalize;
	color: #000088;
}
.tech_skills_div{
	width: 100%;
	padding-block: 10px 10px;
}
.tech_skills_div h4{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	font-family: 'helvetica';
	font-style: oblique;
	text-transform: capitalize;
	color: #000088;
}
.tech_skills_div .horizantal_bar_divs{
	width: 100%;
	padding-inline: 40px 20px;
}
.tech_skills_div .horizantal_bar_divs .skill_div{
	width: 100%;
	background-color: whitesmoke;
	margin-bottom: 10px;
	overflow-x: hidden;
}
.tech_skills_div .horizantal_bar_divs .skill_div .html_div{
	width: 85%;
	background-color: #000088;
	height: 20px;
	text-align: right;
	color: #F0F0F0;
	font-size: 12px;
	padding-inline: 5px 13px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tech_skills_div .horizantal_bar_divs .skill_div .python_div{
	width: 75%;
	background-color: deeppink;
	height: 20px;
	text-align: right;
	color: #F0F0F0;
	font-size: 12px;
	padding-inline: 5px 13px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tech_skills_div .horizantal_bar_divs .skill_div .php_div{
	width: 70%;
	background-color: #0000FF;
	height: 20px;
	text-align: right;
	color: #F0F0F0;
	font-size: 12px;
	padding-inline: 5px 13px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tech_skills_div .horizantal_bar_divs .skill_div .js_div{
	width: 65%;
	background-color: green;
	height: 20px;
	text-align: right;
	color: #F0F0F0;
	font-size: 12px;
	padding-inline: 5px 13px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tech_skills_div .horizantal_bar_divs .skill_div .css_div{
	width: 70%;
	background-color: #0F0F0F;
	height: 20px;
	text-align: right;
	color: #F0F0F0;
	font-size: 12px;
	padding-inline: 5px 13px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tech_skills_div .skills_explanation{
	padding-inline: 40px 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
	gap: 10px;
}
.tech_skills_div .skills_explanation div{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	padding: 5px 5px 4px 5px;
}
.tech_skills_div .skills_explanation div span{
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}
.tech_skills_div .skills_explanation div label{
	width: 100%;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}
.projects_div{
	width: 100%;
	padding-inline: 40px 20px;
	padding-block: 10px 10px;
}
.projects_div h4{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	font-family: 'helvetica';
	font-style: oblique;
	text-transform: capitalize;
	color: #000088;
}
.projects_div .project_div_holder{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.projects_div .project_div_holder .project_holder{
	padding: 6px 4px 6px 4px;
	box-shadow: 1px 1px 5px rgba(0, 0, 136, 0.7);
	background-color: #F0F0F0;
	border-radius: 10px;
}
.projects_div .project_div_holder .project_holder h6{
	font-size: 14px;
	font-style: italic;
	font-weight: 550;
	text-align: center;
	color: whitesmoke;
}
.projects_div .project_div_holder .project_inner{
	width: 100%;
	height: 200px;
	position: relative;
	overflow-y: hidden;
}
.projects_div .project_div_holder .project_inner img,.view_all_icon{
	width: 100%;
	height: 100%;
}
.overlay_text_div{
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	bottom: -200px;
	height: 100%;
	transition: 0.4s;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.projects_div .project_div_holder .project_inner:hover .overlay_text_div{
	bottom: 0;
}
.overlay_text_div p{
	font-size: 12px;
	color: white;
	text-align: center;
}
.btn_readmore{
	height: 26px;
	font-size: 11px;
	background-color: whitesmoke;
	color: #000088;
}
.view_all_icon{
	display: flex;
	align-items: center;
	justify-content: center;
}
.view_all_icon .fa{
	font-size: 40px;
}
.services_div{
	width: 100%;
}
.services_div h4{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	font-family: 'helvetica';
	font-style: oblique;
	text-transform: capitalize;
	color: #000088;
}
.testimonials_div{
	width: 100%;
	padding-block: 10px 10px;
}
.testimonials_div h4{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	font-family: 'helvetica';
	font-style: oblique;
	text-transform: capitalize;
	color: #000088;
}
.testimonials_holder{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, minmax(200px,200px));
	align-items: center;
	justify-content: center;
}
.testimonials_holder .testimonials_in{
	width: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}
.testimonials_holder .testimonials_in .test_hold_image{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.testimonials_holder .testimonials_in .test_hold_image img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
}
.testimonials_holder .testimonials_in .client_name{
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}
.testimonials_holder .testimonials_in .testmonial_text{
	font-size: 10px;
}
.testmonial_text:before,.testmonial_text:after{
	content: '"';
}
.footer{
	width: 100%;
	background-color: #000000;
	padding: 10px 5px 6px 5px;
}
.footer .footer_holder{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 5px;
}
.footer .footer_holder .footer_inner h6{
	text-align: left;
	color: white;
	font-size: 14px;
	text-decoration: underline;
}
.footer .footer_holder .footer_inner p{
	color: white;
	text-align: left;
}
.footer .footer_holder .footer_inner.socials_holder{
	grid-column-start: 4;
	grid-column-end: 5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.socials_holder .social_holder_inner{
	display: flex;
	width: 200px;
}
.socials_holder a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding: 2px;
	width: 25px;
	height: 25px;
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: auto;
	transition: all 0.3s ease;
}
.footer .developer{
	width: 100%;
	text-align: center;
}
.footer .developer p{
	font-size: 13px;
	font-weight: 550;
	color: white;
}
.footer .developer p a{
	text-decoration: none;
	color: #FF0066;
}
.about_holder p{
	font-size: 12px;
	color: whitesmoke;
	text-align: center;
}
.contactlinks_holder ul{
	list-style: none;
	color: whitesmoke;
	font-size: 12px;
	padding: 0px;
}
.contactlinks_holder ul li{
	line-height: 35px;
}
.contactlinks_holder ul li span.fa{
	width: 30px;
	font-size: 14px;
	color: white;
}
.servicesF_holder ul{
	list-style: none;
	color: whitesmoke;
	font-size: 12px;
	padding: 0;
}
.servicesF_holder ul li{
	line-height: 35px;
}
.usefullinks_holder ul{
	list-style: none;
	color: whitesmoke;
	font-size: 12px;
	padding: 0;
}
.usefullinks_holder ul li{
	line-height: 35px;
}
.usefullinks_holder ul li a{
	text-decoration: none;
	color: whitesmoke;
}
.social_holder_inner .fa{
	font-size: 9px !important;
	color: white !important;
}
@media screen and (max-width:880px){
	.footer_holder{
		width: 100%;
		display: grid !important;
		grid-template-columns: 1fr 1fr !important;
		gap: 2px;
	}
	.socials_holder{
		grid-column-start: 1 !important;
		grid-column-end: 3 !important;
	}
}
@media screen and (max-width:465px){
	.footer_holder{
		grid-template-columns: 1fr !important;
	}
	.socials_holder{
		grid-column-start: 1 !important;
		grid-column-end: 2 !important;
	}
	.whatsapp_div{
		right: 30px;
	}
}
@media screen and (max-width:600px){
	.education_div{
		padding-inline: 5px 5px;
	}
	.tech_skills_div .horizantal_bar_divs{
		padding-inline: 5px 5px;
	}
	.tech_skills_div .skills_explanation{
		padding-inline: 5px 5px;
	}
	.projects_div{
		padding-inline: 5px 5px;
	}
	.testimonials_div{
		padding-inline: 5px 5px;
	}
}
[data-scroll]{
	transition:all 1.5s ease;
}
.intro_div_info h4[data-scroll="in"]{
	opacity: 1;
	transform: scale(1);
	transform: translateX(0px);
}
.intro_div_info h4[data-scroll="out"]{
	opacity: 0;
	transform: scale(2);
	transform: translateX(40px);
}
.intro_div_info p[data-scroll="in"]{
	opacity: 1;
	transform: translateX(0px);
	transform: scale(1);
}
.intro_div_info p[data-scroll="out"]{
	opacity: 0;
	transform: translateX(-40px);
	transform: scale(0);
}
.career_path_div p[data-scroll="in"]{
	opacity: 1;
	transform: scale(1);
}
.career_path_div p[data-scroll="out"]{
	opacity: 0;
	transform: scale(2);
}
.skills_explanation label[data-scroll="in"]{
	opacity: 1;
	transform: translateY(0px);
}
.skills_explanation label[data-scroll="out"]{
	
	opacity: 0;
	transform: translateY(40px);
}
.services_div li[data-scroll="in"]{
	opacity: 1;
	transform: translateY(0px);
}
.services_div li[data-scroll="out"]{
	
	opacity: 0;
	transform: translateY(40px);
}
.skill_div[data-scroll="in"]{
	width: 100% !important;
}
.skill_div[data-scroll="out"]{
	width: 30% !important;
}
.connecting .btn{
	font-size: 11px !important;
}
.btncall{
	background-color: green !important;
	font-size: 12px;
	height: 25px;
}
.btnemail{
	background-color: #000088 !important;
	font-size: 12px;
	height: 25px;
}
.btnclosemodal{
	font-size: 12px;
	height: 25px;
}