html{
	scroll-behavior: smooth;
	transition: 1s;
}
body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: times;
}
.navbar{
	margin: 0;
	background: #000088;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	position: relative;
}
.navbar > *{
	color: #deea00;
}
.navholder{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.logo{
	align-self: center;
}
.menubtnhol{
	position: absolute;
	right: 10px;
	top: 15px;
	background: #000066;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px;
	cursor: pointer;
	display: none;
}
.menubtnhol img{
	user-select: none;
}
.menu .menulist{
	padding: 3px;
	margin: 10px;
	list-style: none;
}
.menulist a{
	text-decoration: none;
	color:#deea00 ;
	transition: 0.5s ease-out;
	font-weight: 400;
}
.menulist a:hover{
	color: deeppink;
	border-bottom: 1px solid deeppink;

}

.mynav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100%;
    margin-right: 10px;
    transition: 3s ease-in-out;
}
.footer{
	background: #000088;
	color:#deea00 ;
	justify-content: flex-start;
}
.footer .socials button{
	background: #000088;
}
.footer a{
	text-decoration: none;
	color: #1a75ff;
	transition: 0.3s;
	color: whitesmoke;
}
.footer  .mlist a{
	text-decoration: none;
	color: #1a75ff;
	transition: 0.3s;
}
.footer .mlist a:hover{
	color: deeppink;
	border-bottom: 1px solid deeppink;
}
.divsocial{
	display: flex !important;
	justify-content: flex-end;
}
@media(max-width: 800px){
	.divuslink{
		text-align: center !important;
	}
	.divcont{
		text-align: center !important;
	}
	.divsocial .social{
		margin-left: auto;
	}
	.menubtnhol{
		display: block;
		z-index: 100;
	}
	.menu{
		position: absolute;
		right: -250px;
		width: 250px;
		display: block;
	}
	.navholder ul{
		display: none;
		position: absolute;
		top: 60px;
		right: 1px;
		width: 200px;
		background: rgba(0, 0, 136, 0.8);
		z-index: 50;
		padding: 0;
		margin: 0;
	}
	.navholder ul li{
		line-height: 35px;
		width: 100%;
		padding: 5px;
		border-bottom: 1px solid rgb(220, 230, 0);
	}
	.navholder ul li a{
		width: 100%;
		text-align: center;
		border: none;
	}
	.navholder ul li a:hover{
		border-bottom: none;
	}
	.navbar ul.show{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
.socials .btn{
	box-shadow: none !important;
	outline: none !important;
	margin: 0;
	padding: 1px;
}