html{
	scroll-behavior: smooth;
	transition: 1s;
}
body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: times;
}
ul{
	list-style: none;
}
.navbar{
	width: 100%;
	position: fixed;
	background-color: #14539a;
	background-color: #000088;
	left: 0;
	top: 0;
	z-index: 99;
	color: whitesmoke;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
	height: 70px;
}
.navbar .logo_holder{
	display: flex;
	align-items: center;
	font-size: 25px;
	font-weight: 550
	justify-content: center;
	padding-left: 15px;
	text-transform: capitalize;
}
.navbar .logo_holder{
	height: 100%;
	position: relative;
	width: 30%;
}
.navbar-in{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar .logo_holder{
	margin-right: auto;
}
.navbar .logo_holder label{
	font-size: 17px;
	font-family: 'Helvetica Rounded';
}
.navbar .navbar-in .menu_holder .menu_container > .menu_item{
	display: inline-block;
	margin-left: 10px;
	text-transform: capitalize;
	position: relative;
	width: 100px;
	text-align: center;
} 
.navbar-in .menu_holder .menu_container > .menu_item > a{
	color: #F0F0F0;
	text-decoration: none;
	transition: 0.3s ease;
	font-size: 14px;
	font-weight: 450;
	padding: 5px 0;
}
.menu_button{
	display: none;
	cursor: pointer;
}

@media screen and (max-width:750px){
	.menu_button{
		display: block;
	}
	.navbar .logo_holder{
		width: 100%;
		font-size: 16px;
	}
	.menu_holder{
		width: 250px;
		background-color: #000088;
		position: absolute;
		top: 70px;
		right: -250px;
		transition: 0.3s;
	}
	.menu_holder .menu_container{
		width: 100%;
	}
	.menu_holder .menu_container .menu_item{
		line-height: 40px;
	}
	.menu_holder.show{
		right: 0px;
	}
}
.footer{
	width: 100%;
	background-color: #000000;
	padding: 10px 5px 6px 5px;
}
.footer .footer_holder{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 5px;
}
.footer .footer_holder .footer_inner h6{
	text-align: left;
	color: white;
	font-size: 14px;
	text-decoration: underline;
}
.footer .footer_holder .footer_inner p{
	color: white;
	text-align: left;
}
.footer .footer_holder .footer_inner.socials_holder{
	grid-column-start: 4;
	grid-column-end: 5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.socials_holder .social_holder_inner{
	display: flex;
	width: 200px;
}
.socials_holder a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding: 2px;
	width: 25px;
	height: 25px;
	border: 2px solid rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-left: auto;
	transition: all 0.3s ease;
}
.footer .developer{
	width: 100%;
	text-align: center;
}
.footer .developer p{
	font-size: 13px;
	font-weight: 550;
	color: white;
}
.footer .developer p a{
	text-decoration: none;
	color: #FF0066;
}
.about_holder p{
	font-size: 12px;
	color: whitesmoke;
	text-align: center;
}
.contactlinks_holder ul{
	list-style: none;
	color: whitesmoke;
	font-size: 12px;
	padding: 0px;
}
.contactlinks_holder ul li{
	line-height: 35px;
}
.contactlinks_holder ul li span.fa{
	width: 30px;
	font-size: 14px;
	color: white;
}
.servicesF_holder ul{
	list-style: none;
	color: whitesmoke;
	font-size: 12px;
	padding: 0;
}
.servicesF_holder ul li{
	line-height: 35px;
}
.usefullinks_holder ul{
	list-style: none;
	color: whitesmoke;
	font-size: 12px;
	padding: 0;
}
.usefullinks_holder ul li{
	line-height: 35px;
}
.usefullinks_holder ul li a{
	text-decoration: none;
	color: whitesmoke;
}
.social_holder_inner .fa{
	font-size: 9px !important;
	color: white !important;
}
@media screen and (max-width:880px){
	.footer_holder{
		width: 100%;
		display: grid !important;
		grid-template-columns: 1fr 1fr !important;
		gap: 2px;
	}
	.socials_holder{
		grid-column-start: 1 !important;
		grid-column-end: 3 !important;
	}
}
@media screen and (max-width:465px){
	.footer_holder{
		grid-template-columns: 1fr !important;
	}
	.socials_holder{
		grid-column-start: 1 !important;
		grid-column-end: 2 !important;
	}
	.whatsapp_div{
		right: 30px;
	}
}
.badge-info{
	background-color: #000088 !important;
}